.form {
  display: block;
}

.urlContainer {
  display: block;
}

.sampleSizeContainer {
  display: block;
  margin-top: 16px;
}

.url {
  width: 256px;
}

.historyItem {
  font-size: small;
}

.sampleSize {
  width: 48px;
}

.label {
  margin-right: 24px;
  font-weight: bold;
}

.submit {
  margin-top: 16px;
}

.error {
  font-size: small;
  color: red;
}